.modal-color-1{
    color: #666666;
}
.modal{
    border: 1px solid #ECFCFC;
    box-shadow: 4px 4px 8px 0px #00000040;
    width: 564px;
}
.modal-input::placeholder {
    color: #BFBFBF;
  }
.textarea{
    /* width: 516px; */
    height: 80px;
resize: none !important;
}
.modal-submit{
    background: #497AA5;
    color: #FFFFFF;
}