@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Purple+Purse&display=swap');
*{
    font-family: "Poppins", serif;
}


.fs-14{
    font-size: 0.875rem;
}
.fs-18{
    font-size: 1.125rem;
}
.fs-11{
    font-size: 0.6875rem;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.first-p{
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 29.34px;
letter-spacing: 0%;
}

.sec-p {
font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 19.2px;
letter-spacing: 0%;
color: black;
}

.third-p{
font-family: Poppins;
font-weight: 600;
font-size: 16px;
line-height: 19.2px;
letter-spacing: 0%;
}

.first-h{
    font-family: Poppins;
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: 0%;
}

.color-white{
color: #FFFFFF;
}

.headline{
margin-top: 75px;    
background: #497AA5 !important;
/* height: 91px; */
}

.star{
font-size: 22px;
}

.color-grey{
color: #575757;
}

.avatar{
width: 116px;
height: 116px;    
}

.review-card{
/* width: 630px !important;  */
/* max-width: fit-content; */
margin-top: 30px;
padding: 25px 15px 20px 25px;
/* height: 240px;  */

border: solid 1px #E5E5E5;
border-radius: 8px;
}

.nike-logo{
width: 197px;
height: 120px;
top: -14px;
left: 0px;
}

.nike-vector{
top: -14px;
left: 0px;
}

.prostitute{
/* width: 197px; */
height: 91px;
}

.divider-one {
height: 18px;
width: 1px;
background-color: #DEDEDE;
}

.divider-two {
    height: 15px;
    width: 2px;
    /* background-color: lightgray; */
    background-color: #FFFFFF;
    /* margin: 0 20px; */
}

.stars-code {
    color: #FFD700;
}

.rating {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.rating-text {
    margin-left: 10px;
    /* color: #666; */
}

.divider {
    height: 1px;
    width: 65%;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/*Header*/

.nav-item a {
    color: #4A4A4A;
}

li.nav-item:hover {
    text-decoration: underline;
}

.bg-color{
  background: #ECFCFC;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

span.fa.fa-search.form-control-feedback{
    color:#2E2E2E;
}

.has-search input::placeholder {
    color: #BFBFBF;
}

.has-search input{
    border-color: #DEDEDE !important;
}

button#Dropdown {
    border: none;
    background: transparent;
}

button.btn.btn-link.d-flex.align-items-center.p-0.custom-design {
    color: #4A4A4A;
    text-decoration: none;
}

.divider-border {
    border: 1px solid #DEDEDE;
    margin-left: 12px;
    height: 28px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin-top: 5px;
}

@media (max-width: 768px) {
li.nav-item {
    margin-left: 4px !important;
}
}
/*Header-end*/


/* second section rating */
.color-yellow{
    color: #FFF200;
}

.review-bg{
    background: #ECFCFC;
    padding: 15px 0px 20px;
    border: 1px solid #EBEBEB

}
.rating-breakdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 25px;
        /* background-color: #f8f9fa; */
        /* border-radius: 8px; */

    }
    .par-star-one{
        /* background-color: black; */
        width: 45%;
    }
    .par-star-two{ 
        width: 45%;
        /* background-color: #000000; */
}   
    .par-star-modal{ 
        width: 75%;
        /* background-color: #000000; */
}   

    .stars {
        display: flex;
        /* margin-top: 10px; */
    }
    .stars i {
        font-size: 21px;
        /* color: #ccc; */
        color: #EBEBEB;

        margin-right: 5px;
    }

/* second-section over-all-rating */
.over-all-rating{
border-width: 1px;
border-radius: 4px;
    border: 1px solid #ECFCFC;
    box-shadow: 4px 4px 8px 0px #00000040;    
}